@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*  TODO 
    - Parte responsiva 
    - Fazer o campo ser limpo após o submit - feito
    - menu flutuante na rolagem
    - Colocar campo de data no card para saber a hora do post
    - Criar Select de categorias de tipo de prato Ex as categorias do ifood (hamburger, pizza, sushi, caseira). Este seria como campo extra
*/

body {
  background-color: rgb(219, 219, 219);
  width: 100%;
  display: flex;
  flex-direction: row;
}

header {
  width: 25%;
  height: 100%;
  background-color: rgba(60, 61, 61, 0.445);
  border-radius: 1%;
  
}

h1 {
    margin-left: 0.5em;
}

#instrucoes {
    padding-left: 1.5em;
    padding-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  height: 100%;
}

#formulario form {
    width: 90%;
    padding: 1em;
}

form label {
    margin-top: 6.5%;
    font-weight: 600;
}

main {
  width: 75%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 2em 10%;
  
}

.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

img, p {
    width: 70%;
}

.item h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
  margin-top: 1em;
}

main h2{
    margin-left: 1em;
}

#submitButton {
    margin-top: 30%;
    font-size: large;
    font-weight: bold;
}
